version: 2.1
jobs:
  print_hello:
    docker:
      - image: cimg/base:2022.06
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
          
  build-local-app:
    docker:
      - image: cimg/base:2022.06
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run:
         name: 'install nginx'
         command: |
                  sudo apt-get update -y
                  sudo apt-get install -y nginx
                  sudo apt-get install -y curl
                  curl --version
      - run:
         name: 'build-app-locally'
         command: |
                  sudo cp ./nginx.conf /etc/nginx/nginx.conf
                  sudo cp -r ./www /www
      - run:
         name: 'run-local-app'
         command: |
                  sudo service nginx start
      - run:
         name: 'test-local-app'
         command: |
                  export URL="http://localhost:80"
                  if curl -s ${URL} | grep "Hello"
                  then
                    echo "success"
                  else
                    echo "fail"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
                  fi


  install_linters:
    docker:
      - image: cimg/base:2022.06
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run:
          name: 'install-linters-lint-files'
          command: |
                    sudo apt-get update -y
                    sudo apt-get install -y tidy
                    sudo wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
                    sudo chmod +x /bin/hadolint &&\
                    hadolint Dockerfile &&\
                    find . -name '*.html' -type f -print -exec tidy -mq '{}' \;
                  

  build-docker-app:
    docker:
      - image: docker:stable
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build files
          command: |
                    docker --version
                    docker build -t udacitycapstone .
                    docker image ls
      - run:
          name: Push app to docker hub
          command: |
                    dockerpath=harihr5/udacitycapstonerepo
                    docker login -u harihr5 --password '$ockerudacity'
                    docker tag udacitycapstone $dockerpath:udacitycapstone
                    docker push $dockerpath:udacitycapstone
                    
  create-eksctl-cluster:
     docker:
      - image: cimg/base:2022.06
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run:
          name: Install awscli
          command: |
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
            aws --version
      - run:
          name: Install kubectl
          command: |
            curl -o kubectl https://s3.us-west-2.amazonaws.com/amazon-eks/1.22.6/2022-03-09/bin/linux/amd64/kubectl
            chmod +x ./kubectl
            mkdir -p $HOME/bin && cp ./kubectl $HOME/bin/kubectl && export PATH=$PATH:$HOME/bin
            kubectl version --short --client
      - run:
          name: Install eksctl
          command: |
            curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
            sudo mv /tmp/eksctl /usr/local/bin
            eksctl version
      - run:
          name: 'create eksctl cluster'
          command: |
                  # eksctl create cluster --region us-east-1 \
                  # --node-type t2.small --nodes-min 1 --nodes-max 2  \
                  # --name udacitycapstoneproject
      
workflows:
  default:
    jobs:
      - print_hello
      - build-local-app
      - install_linters:
          requires: [build-local-app]
      - build-docker-app:
          requires: [install_linters]
      - create-eksctl-cluster:
          requires: [build-docker-app]
