version: 2.1
jobs:
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
          
  install_linters:
    docker:
      - image: cimg/base:2022.06
    steps:
      - checkout
      - run:
          name: install-linters
          command: |
                    sudo apt get tidy &&\
                    sudo wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
                    sudo chmod +x /bin/hadolint
                    
  lint_project_files:
    docker:
      - image: cimg/base:2022.06
    steps:
      - checkout
      - run:
          name: lint-html
          command: |
                   hadolint Dockerfile &&\
                   tidy -e -q *.html
            
workflows:
  default:
    jobs:
      - print_hello
      - install_linters
      - lint_project_files
   
